In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [/Users/angelicaestrada/.wdm/drivers/chromedriver/mac64/100.0.4896.60/chromedriver] found in cache

In [4]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [5]:
html = browser.html
news_soup = soup(html, 'html.parser')
#This variable holds a ton of information, so look inside of that information to find this specific data." 
#The data we're looking for is the content title, which we've specified by saying, #
#"The specific data is in a <div /> with a class of 'content_title'."
slide_elem = news_soup.select_one('div.list_text')

In [6]:
news_title=slide_elem.find('div', class_='content_title')
news_title

In [7]:
news_title.get_text()

"NASA's Mars 2020 Rover Completes Its First Drive"

In [8]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps.'

### Featured Images mars

In [9]:
# Visit URL

url='https://spaceimages-mars.com/'
browser.visit(url)

In [10]:
full_image=browser.find_by_tag('button')[1]
full_image.click()

In [11]:
#With the new page loaded onto our automated browser, it needs to be parsed so we can continue and scrape the full-size image URL.
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [12]:

#An img tag is nested within this HTML, so we've included it.
#.get('src') pulls the link to the image.

img_url=img_soup.find('img',class_='fancybox-image').get('src')
img_url
#This is where the image we want lives—use the link that's inside these tags."

'image/featured/mars1.jpg'

In [13]:
img_url_complete=f'{url}{img_url}'
img_url_complete

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [14]:
######mars facts table

In [48]:
df=pd.read_html('https://galaxyfacts-mars.com/')[0]
df.columns=['Description', 'Mars', 'Earth']
df.set_index('Description',inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [49]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

# Deliverable 1

In [3]:
# 1. Use browser to visit the URL 
url = 'https://marshemispheres.com/'

browser.visit(url)

In [4]:
# 2. Create a list to hold the images and titles.
hemisphere_image_urls = []



# 3. Write code to retrieve the image urls and titles for each hemisphere.
for x in range (4):
    
    link=browser.find_by_css('a.product-item h3')[x]
    link.click()

    html = browser.html
    hemis_soup = soup(html, 'html.parser')
   
    hemis_url = hemis_soup.find('img',class_='wide-image').get('src')
    
    
    complete_url=f'{url}{hemis_url}'
    
    
    title = hemis_soup.find('h2', class_='title').text
    
    hemispheres = {}
    hemispheres['title'] = title
    hemispheres['img_url'] = complete_url
   
    hemisphere_image_urls.append(hemispheres)
    
    browser.back()

In [5]:

# 4. Print the list that holds the dictionary of each image url and title.
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [6]:
# 5. Quit the browser
browser.quit()